body{
    background-color: #9a9595;
}
h1{
    color: rgb(255, 0, 0);
    font-size: 25px;
    font-family: 'Segoe UI';
    background-color: black;
}
p{
    font-size: large;
    text-align: center;
    font-weight: bold;
    color: rgb(76, 108, 342);
}
img{
    max-width: 25%;
    max-height: 25%;
}
.enviar{
    border-radius: 5px;
    background-color: rgb(0, 0, 555);
}
ol li{
    font-size: 30px;
    color: purple;
    align:center;
}
ul li{
    color: green;
    background-color: yellow;
    font-weight: bold;
    text-align: center;

}
.etiqueta{
    font-size: 20px;
    background-color: rgb(135, 222, 218);
    color: black;

}