body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
:root{
    --white: #FFFFFF;
    --black: #000000;
    --grey:#2B2E34;
    --yellow:#D1AE31;
    --grey-blue:#0D1423;
    --clear-gray:#AFC0E2;
    --sm:14px;
    --md:20px;
    --lg:60px;
}
.main{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--grey);
}
.brochure{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    justify-items: center;
    background-color: var(--grey);
}
.title{
    color: var(--white);
    text-align: center;
    font-size: var(--lg);
}
.subtitle{
    color: var(--white);
    text-align: center;
    font-size: var(--md);
    margin: 5px 0 5px 0;
}
.more-info{
    display: grid;
    background-color: var(--grey);
    align-items: center;
}
.card-container{
    display: flex;
    align-items: center;
    border-radius:10px; ;
    padding: 27px;
    margin: 16px 27px 16px 0;
    background-color: var(--grey-blue);
}
.icons-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 260px 50px 260px;
    justify-content: center;
    
}
.card-icon{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-icon figure img{
    width: 50px;
    height: 50px;
}
.icon-description p{
    color: var(--white);
    font-size: var(--sm);
    margin: 0;
}